{% extends 'base.html.twig' %}
{% block title %}Borrado de la película{{ pelicula.titulo }}{% endblock %}
{% block main %}
	{{ parent() }}
	<p>Borrado de la película <b>{{pelicula.titulo}}</b>.</p>

	<p>Por favor, confirma la operación de borrado mediante el formulario.</p>

	{{ form(formulario) }}
	
{% endblock %}