{% extends 'base.html.twig' %}
{% block title %}Portada{% endblock %}
{% block main %}
	{{ parent() }}
	<p>Esta es la portada del sitio web <b>SymfoFilms</b>.</p>

	<div class="d-flex">


		{% for pelicula in peliculas %}
			<a href="{{path('pelicula_show', {'id':pelicula.id})}}">
				<figure class="m-2">
					<img class="img-fluid" alt="akira" width="220px;" src="{{asset(covers_directory~'/'~(pelicula.caratula ?? 'default.jpg'))}}"  >

				</figure>
			</a>
		{% endfor %}

	</div>
{% endblock %}