{% extends 'base.html.twig' %}
{% block title %}Portada{% endblock %}
{% block main %}
	{{ parent() }}
	<p>Esta es la portada del sitio web <b>SymfoFilms</b>.</p>

	<div class="d-flex">
		<figure class="m-2">
			<img class="img-fluid" alt="akira" src="{{asset('/images/template/akira.jpg')}}">
		</figure>
		<figure class="m-2">
			<img  class="img-fluid" alt="terminator2" src="{{asset('/images/template/terminator2.jpg')}}">
		</figure>
		<figure class="m-2">
			<img  class="img-fluid" alt="mejor" src="{{asset('/images/template/mejor.jpg')}}">
		</figure>
	</div>
{% endblock %}